.Navbar {
  background-color: #fff !important;
  color: black !important;
  box-shadow: none !important;
}

.logo-name {
  font-weight: bolder !important;
}
.contact {
  background-color: black !important;
  color: #ffffff !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0 !important;
}

/* hero-container===================================== */

.hero-container {
  background-color: #f7eeffd1;
  /* border-radius: 1rem; */
}
.hero-logo-grid {
  background: rgb(169, 188, 255);
  background: linear-gradient(
    180deg,
    rgba(169, 188, 255, 1) 0%,
    rgba(255, 178, 247, 1) 100%
  );
  display: flex;
  justify-content: center !important;
  /* border-radius: 0 1rem 1rem 0; */
}

.hero-title-grid {
  padding: 3rem 5rem;
}
.hero-title {
  font-weight: 600 !important;
  line-height: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
}

.logo {
  width: 90%;
}

/*  What We Do =========================================== */

.WhatWeDo-container {
  /* background-color: antiquewhite; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WhatWeDo-para-wrapper {
  padding: 2rem;
  /* background-color: aqua; */
  max-width: 850px;
}
.WhatWeDo-title {
  font-weight: 600 !important;
  line-height: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: -1rem !important;
}
.WhatWeDo-para {
  font-size: larger !important;
  padding: -2rem 4rem;
  opacity: 0.8;
}

/* services-container ================================= */

.services-container {
  text-align: center;
  background-color: #eff3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-inner-container {
  padding-bottom: 4rem;
  background-color: #eff3f4;
  justify-content: center;
}

.services-title {
  font-weight: 600 !important;
  line-height: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
}

.service-card-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.service-paper {
  width: 100%;
  max-width: 250px;
  display: flex;
  padding: 4rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service-circle {
  background-color: #e7e9ff;

  width: 7rem;
  height: 7rem;
  border-radius: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 2rem;
}
.service-icon {
  color: #111;
  font-size: 4em !important;
}

/* OurClients-container ============================ */
.OurClients-container {
  text-align: center;
  background-color: #1b262c;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 5rem;
}

.OurClients-inner-container {
  display: flex !important;
  justify-content: center;
}
.OurClients-title {
  color: #fff;
  font-weight: 600 !important;
  line-height: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
  text-align: center !important;
}

.Team-card-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.OurClients-paper {
  justify-content: center !important;
  width: 200px;
  padding: 1rem;
  background: rgb(255, 255, 255) !important;
}
.OurClients-paper img {
  width: 70%;
}
.Team-name {
  font-weight: bold !important;
}
.Team-post {
  font-weight: 500 !important;
  margin: 0.5rem !important;
}

/* Team ============================================ */

.Team-container {
  text-align: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 5rem;
}

.Team-inner-container {
  display: flex !important;
  justify-content: center;
}
.Team-title {
  color: rgb(0, 0, 0);
  font-weight: 600 !important;
  line-height: 5rem !important;
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
  text-align: center !important;
}

.team-paper {
  align-items: center;
  justify-content: center !important;
  width: 200px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}
.team-paper img {
  border-radius: 50rem !important;
  width: 60%;
  box-shadow: 0 0 0 0.7rem rgba(0, 0, 0, 0.818) !important;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
}

/* Footer ========================================== */
.Footer-container {
  background-color: #ffffff;
  height: 400px;
  width: 100%;
}

.FooterContainer {
  background-color: #11181b;
  color: #fff;
  box-shadow: 0 -14px 0px 0px #7d5fff;
}

.footerHeading {
  font-size: xx-large !important;
  letter-spacing: 0.3rem !important;
  font-weight: 700 !important;
  color: #1b1923;
}
.footerSubH {
  font-size: large !important;
  letter-spacing: 0.2rem !important;
  font-weight: 600 !important;
}
.footerText {
  letter-spacing: 0.1rem !important;
  font-family: "Poppins", sans-serif !important;
  opacity: 0.8;
  transition: 0.2s ease-in;
}

.footerText:hover {
  color: #232631;
  opacity: 1;
  transition: 0.2s ease-in;
}

.footer-logo {
  width: 9rem;
  background: rgb(169, 188, 255);
  background: linear-gradient(
    180deg,
    rgba(169, 188, 255, 1) 0%,
    rgba(255, 178, 247, 1) 100%
  );
}
